<include href="views/header.html">
<form method="post" action="#">
    <fieldset class="form-group fieldset">
        <b><h1 class="text-left">Interest</h1></b>
            <fieldset id="topFieldsed"></fieldset>
        <div class="row">
            <div class="col">
                <div class="clearfix" ng-if="$index % 2 == 0"></div>
                    <div class="col">
                        <!--in-door interests-->
                        <b><label class="text-left">In-door Interests</label></b><br>
                            <repeat group="{{ @indoors }}" value="{{ @indoorOption }}">
                                <label><input class="form-check-input" type="checkbox"
                                              name="indoor[]"
                                              value="{{ @indoorOption }}"

                                    <check if="{{ isset(@selectedIndoor) && in_array(@indoorOption, @selectedIndoor) }}">
                                        checked="checked"
                                    </check>

                                    >{{ @indoorOption }}
                                </label><br>
                            </repeat>

                        <!--outdoor interests-->
                        <b><label class="text-left">Out-door Interests</label></b><br>
                            <repeat group="{{ @outdoors }}" value="{{ @outdoorOption }}">
                                <label><input class="form-check-input" type="checkbox"
                                              name="outdoor[]"
                                              value="{{ @outdoorOption }}"

                                    <check if="{{ isset(@selectedOutdoor) && in_array(@outdoorOption, @selectedOutdoor) }}">
                                        checked="checked"
                                    </check>
                                    >{{ @outdoorOption }}
                                </label><br>
                            </repeat>

                        <div class="align-self-end ml-auto">
                            <button id="form1btn" type="submit" class="btn btn-primary mb-1 text-right">Next></button>
                        </div><!--end of div align-button-->
                    </div><!-- end of column-->
                </div><!--end of row-->
            </div>
        </div>
    </fieldset>
</form><!--end of form-->
<!--
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>