<include href="views/header.html">
<form method="post" action="#">
    <fieldset class="form-group fieldset">
        <b><h1 class="text-left">Interest</h1></b>
            <fieldset id="topFieldsed"></fieldset>

                <b><label class="text-left">In-door Interests</label></b><br>
                        <div class="row">
                            <repeat group="{{ @indoors }}" value="{{ @indoorOption }}">
                                <div class="col-lg-3">
                               <input id="{{ @indoorOption }}" class="form-check-inline" type="checkbox"
                                              name="indoor[]"
                                              value="{{ @indoorOption }}"
                                    <check if="{{ isset(@selectedIndoor) && in_array(@indoorOption, @selectedIndoor) }}">
                                        checked="checked"
                                    </check>
                                <label class="ml-5" for="{{ @indoorOption }}">

                                    {{ @indoorOption }}
                                </label>
                                </div>
                            </repeat><br>
                    </div><!--end of row-->

                        <!--outdoor interests-->
                        <b><label class="text-left">Out-door Interests</label></b><br>
                        <div class="row">
                            <repeat group="{{ @outdoors }}" value="{{ @outdoorOption }}">
                                <div class="col-lg-3">
                                <label><input class="form-check-inline" type="checkbox"
                                              name="outdoor[]"
                                              value="{{ @outdoorOption }}"

                                    <check if="{{ isset(@selectedOutdoor) && in_array(@outdoorOption, @selectedOutdoor) }}">
                                        checked="checked"
                                    </check>
                                    >{{ @outdoorOption }}
                                </label>
                                </div>
                            </repeat><br><br>
<!--                        </div>&lt;!&ndash;end of row&ndash;&gt;-->
                            <div class="col-lg-3 align-items-end" >
                            <button id="form1btn" type="submit" class="btn btn-primary mb-1 text-right">Next></button>
                        </div><!--end of div align-button-->
                </div><!--end of row-->
    </fieldset>
</form><!--end of form-->

<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>