<include href="views/header.html">
    <form method="post" action="order">
        <fieldset class="form-group fieldset">
            <div class="row">
                <div class="col-6">
                    <div id="text-container" class="media-body row justify-content-center">
                        <h1 class="display-4 text-center">Best Dating Site</h1>
                            <p>Welcome to the best dating site! <strong>Best Dating Site</strong> where you can meet new people or new
                            friends from nearby or from around the world. Meeting people has never been easier. Find new friends based on common interests, location, age and more. </p>
                                <h3 class="text-center">Hear what our users are saying about us.</h3>
                                <fieldset class="top-bottom">
                                <i><p>"Best dating web site! I met a lot of nice people. We go hiking, to the casino, to the park, we go shopping, etc..  Thanks to best dating site." -Susan</p>
                                <p>"Thanks to best dating site I met my husband. We have been married for 2 years now. This web site is amazing" -Lesli</p>
                                <p>"I used this web site to met people and I only have nice experiences with the people that I met. They are really good at keeping  you personal information like
                                phone number and e-mail address private. You don't have to share your personal information unless you want to." - Santiago</p></i>
                                </fieldset>
                            <!-- button-->
                            <button type="button" class="btn btn-primary btn-lg text-center">Create a Profile</button>
                    </div><!--end of div media-body-->
                </div><!--end of col-->
                <div class="col-6">
                   <img class="img-fluid rounded" src="images/images.jpeg" alt="couples in love">
                </div><!--end of div (image)-->
            </div><!--end of row-->
        </fieldset><!--end of form group-->
    </form><!--end of form-->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="script/cupcakes.js"></script>-->
</body>
</html>