#button{

    /*alignment: center;*/
    margin-bottom: 100px;
}
.container{
    align-items: center;
}
fieldset {
    border: 1px solid lightgray;
    padding: 1em;
    margin: 30px 30px 30px 30px;
}
img {
    float: right;
    height: 300px;
}
h1{
    align-items: center;
    align-content: center;
}

h3{
    align-items: center;
}
nav{
    text-align: left;
}
p{
    float: left;

}
